.gallery{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-inline-start: 0%
};
a{
    width: 100%;
    height: 100%;
};
.gallery-item{
    width: 400px;
    height: 220px;
}
img{
    width: 400px;
    height:220px;
};
.modal-img{
background-color: grey;
};